/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shineLine {
  0% {
    stroke-dashoffset: 140;
  }
  100% {
    stroke-dashoffset: -140;
  }
}

.shine-wrapper {
  position: relative;
  overflow: hidden;
}

.shine-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle farthest-side at 50% 50%,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 30%,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 0.6) 70%,
    rgba(255, 255, 255, 0) 100%
  ) no-repeat;
  background-size: 180px 180px;
  animation: shineSlide 5s linear infinite;
  pointer-events: none;
  z-index: 10;
  -webkit-mask-image: url(/rnklogo.svg);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-image: url(/rnklogo.svg);
  /* mask-size: contain; */
  mask-position: center;
  mask-repeat: no-repeat;
}

@keyframes shineSlide {
  0%   { background-position: -300% -300%; }
  100% { background-position:  300%  300%; }
}




@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.perspective-1000 {
  perspective: 1000px;
}

@layer utilities {
  .perspective-1000 * {
    backface-visibility: hidden;
  }
}